
  body{
    cursor: hand;
    background-position: center center; 
    background-size:auto;
    background-attachment:fixed;
    background-image: url( 'https://lab-rain123473.c9users.io/project/img/colorful.jpg ' );
    margin:0}
.ball{
    float:right;
    position:relative;
    width:200px;
    height:200px;
    line-height:75px;    
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
                    }
  #start{
    border-radius: 15px;
    height: 95%;
    width:35%;
    color:white;
    left:10%;
    background:black;
    font-size:5em;
            }
  #div1{
    position:fixed;
    top:0px;
  }
  #stt{
   position:fixed;
   font-size:300px;
   color:green;
    top:0px;
}
  
  
  
  /*
  game over
  */
   #game_over{
    z-index: 5;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
    width: 65%;
    height: 54%;
    position: absolute;
    top: 35%;
    left: 45%;
    margin: -150px 0 0 -300px;
    border: aliceblue 5.5px solid;
    border-radius: 1%;
       }
    
        #user_info{
            height:20px;
            background-color:rgba(0, 188, 212, 0.55);
        }
        #x{
            color: red;
            position: absolute;
            right:0px;
            font-size:5px;
            z-index:5;
            height:10px;
            width:10px;
            border-radius:80%;
            background-color:white;
        }
        #user_scoreboard{
            height: 70%
        }
        #game_over_btn {
    position: absolute;
    background-color:rgba(255, 0, 0, 0.64);
    bottom: 0px;
    width: 100%;
    height: 11%;
        }
        #game_over_btn button{
                width: 20%;
    height: 100%;
    /* left: 0px; */
    position: absolute;
        }
        
        
        /*--------------------------------------------------------*/
        #g_view{
            position:absolute;

            width:100%;
            height:98%;
            text-align:center;
            
        }
        #gv_top{
            height:10%;

        }
        #gvt_u{
            color: coral;
            font-size: 3.5em;
            position: absolute;
            left: 30px;
        }
        #gvt_s{
            position: absolute;right: 30px;
        }
        #gv_main{
             height:65%;
        }
        #ball_box{
            position: absolute;
            top:25%;
            left: 34%;
        }
        #g_list{
           bottom: 30%;
           border-radius:8px;
           width: 14.5%;
           height: 50%;
           position: absolute;
           left: 0;
        }
        #g_list button{
                width: 100%;
                height: 20%;
                font-size: x-large;
        }
        #gv_btm{
            height:25%;
        }
        #logout{
            position:absolute;
            background-color: black;
            right: 10px;
            font-size: 30px;
            border:red 2px dashed;
            color: red;
            bottom: 25px;
        }
        #logout a{
          text-decoration:none;
          color:red;
        }
/*------------------------------------------*/
#player{
    position: fixed;
    border: white 5px solid;
    border-radius: 8px;
    background: rgba(104, 158, 255, 0.71);
    font-family: cursive;
    text-align: center;
    width: 20%;
    height: 10%;
}
#lv{
    position: fixed;
    width: 7%;
    height: 6.5%;
    font-size: 1.88em;
    background: yellow;
}
#user{
    position: fixed;
    left: 7.4%;
    width: 12.2%;
    background: rgba(233, 30, 99, 1);
    color: white;
    height: 6.5%;
    font-size: 1.5em;
}
#exp{
    position: absolute;
    font-size: 0.25em;
    color:white;
    bottom: 0px;
    border-radius: 5px;
    height: 27.5%;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-color: #5cb85c;
    
}
.i_m{
    position: fixed;
    width: 15%;
    height: 20%;
    top: 40%;
    font-size: 3em;
}
#Easy {
    left: 20%;
}
#Normal{
    left: 40%;
}
#Hard{
    left: 60%;
}